$color-primary: #2699fb;
$color-bluedark: #0a6fc4;
$color-blue: #7fc4fd;
$color-bluenormal: #bce0fd;
$color-bluelight: #f1f9ff;
$color-secondary: #f37800;
$color-tertiary: #f5f5f5;
$color-black: #000;
$color-blackLight: #424242;
$color-white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* =======================
  SIGN UP
  =========================*/
.signup {
  width: 100%;
  background-color: $color-tertiary;

  &_content {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
    background-color: $color-white;
    color: $color-blackLight;

    &_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $color-bluelight;
      padding: 2rem;

      .form {
        display: flex;
        flex-direction: column;
        min-width: 100%;

        &_group {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          @media only screen and (min-width: 768px) {
            min-width: 100%;
            flex-wrap: nowrap;
            padding: 0 2rem;

            .input {
              &:first-child {
                margin-right: 2rem;
              }
            }
          }

          @media only screen and (min-width: 992px) {
            min-width: 85%;
            padding: 0 3rem;

            .input {
              &:first-child {
                margin-right: 3rem;
              }
            }
          }
        }

        .btn {
          display: flex;
          .btn-primary {
            width: 100%;
          }

          @media only screen and (min-width: 768px) {
            padding: 0 2rem;
            .btn-primary {
              width: auto;
              margin-left: auto;
            }
          }

          @media only screen and (min-width: 992px) {
            padding: 0 3rem;
          }
        }
      }

      .registered_login {
        background-color: $color-bluenormal;
        text-align: center;
        border-radius: 4px;
        width: 100%;

        p {
          font-size: 0.9rem;
          letter-spacing: 1px;
        }

        a {
          display: inline-block;
          color: $color-primary;
          text-decoration: underline;
        }

        @media only screen and (min-width: 768px) {
          max-width: 25rem;
        }
      }
    }
  }
}
