$color-primary: #089de3;
$color-secondary: #f37800;
$color-tertiary: #f5f5f5;
$color-black: #000;
$color-blackLight: #424242;
$color-white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*===================
SELECT
=====================*/

.wrapper {
  ul {
    list-style-type: none;
  }

  &_select_wrap {
    width: 100%;
    position: relative;
    -moz-user-select: none;
    font-size: 1rem;

    .default_option {
      cursor: pointer;

      & > li {
        padding: 10px 20px;

        &:focus,
        &:active,
        &:hover {
          background-color: rgba($color: $color-primary, $alpha: 1);
        }
      }

      .select_ul {
        width: 100%;
        margin-bottom: 0.5rem;
        display: none;

        li {
          padding: 0.5rem 0.5rem 0.5rem 2.5rem;
          cursor: pointer;

          &:hover {
            background-color: rgba($color: $color-primary, $alpha: 0.1);
          }
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 14px;
        right: 18px;
        width: 6px;
        height: 6px;
        border: 2px solid;
        border-color: transparent transparent $color-blackLight
          $color-blackLight;
        transform: rotate(-45deg);

        background-color: rgba($color: $color-primary, $alpha: 0.1);

        &:hover .default_option li {
          background-color: rgba($color: $color-primary, $alpha: 1);
        }
      }
    }

    &.active .default_option:before {
      transform: rotate(-225deg);
      top: 19px;
      border-color: transparent transparent $color-white $color-white;
    }

    &.active .select_ul {
      display: block;
    }
  }
}
